.MainContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  padding-left: 5%;
  padding-right: 5%;
}

.Host {
  width: 30%;
}