.ButtonContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.UsernameInputContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-bottom: 4%;
}
